body {
    background-color: #222225;
    color: #fff;
}

button {
    color: #ccc;
}

footer {
    background-color: #121215;
}

.titlebar {
    background-color: #121215;
}

.text {
    color: #fff;
}

.match {
    color: #fff;
}

.alpha-match {
    color: #ffffff33;
}

.transparency-hover {
    background-color: #0000;
}

.transparency-hover:hover {
    background-color: #ffffff22 !important;
}

#workspace {
    background-color: #1f1f25;
}

#editor {
    background-color: #0e0e11;
}

#command-bar {
    background-color: #1f1f25;
}

#command-bar-main {
    background-color: #0e0e11;
}
