* {
    margin: 0;
    -webkit-user-select: none;
    user-select: none;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
        sans-serif;
}

::-webkit-scrollbar {
    width: 15px;
}

::-webkit-scrollbar-corner {
    background-color: #000;
}

::-webkit-scrollbar-thumb {
    background-color: #ccc;
    border-radius: 10px;
    border: 4px solid rgba(0, 0, 0, 0);
    background-clip: content-box;
    min-width: 15px;
    min-height: 15px;
}

::-webkit-scrollbar-track {
    background-color: #000;
}

main {
    width: 100%;
    position: absolute;
    height: 30px;
    left: 0px;
    top: 0px;
}

primary {
    top: 30px;
    position: absolute;
    width: 100%;
    height: calc(100% - 55px);
    top: 30px;
}

footer {
    width: 100%;
    top: 100%;
    height: 25px;
    position: absolute;
    transform: translateY(-100%);
}

#overlay-container {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0px;
    right: 0px;
}

.bottom-right {
    width: fit-content;
    height: 100%;
    font-size: 0.9rem;
    padding-left: 8px;
    padding-right: 8px;
    float: right;
    line-height: 25px;
}

.bottom-left {
    width: fit-content;
    height: 100%;
    font-size: 0.9rem;
    padding-left: 8px;
    padding-right: 8px;
    float: left;
    line-height: 25px;
    align-content: center;
}

.footer-image {
    width: fit-content;
    height: 15px;
    top: 2px;
    padding-left: 5px;
    padding-right: 5px;
    line-height: 25px;
    position: relative;
}

.disabled {
    display: none;
}

#minimize,
#maximize,
#close {
    width: 45px;
    height: 30px;
    float: right;
    border: none;
    outline: none;
    background-color: #0000;
    -webkit-app-region: no-drag;
}

#close:hover {
    background-color: #ee0000;
    color: #fff;
}

#minimize {
    left: calc(100% - 90px);
}

#maximize {
    left: calc(100% - 45px);
}

#close {
    left: 100%;
}

#draggable {
    -webkit-user-drag: auto;
    overflow: auto;
    float: center;
    height: 100%;
    -webkit-app-region: drag;
    -webkit-user-select: none;
    user-select: none;
}

#title {
    width: fit-content;
    height: 100%;
    margin: 0px;
    padding: 0px;
    padding-top: 5px;
    text-align: center;
    align-content: center;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 0px;
    font-size: 1.1rem;
}

#workspace {
    float: left;
    width: 200px;
    height: 100%;
}

#terminal {
    width: 100%;
    height: 100%;
    position: relative;
    top: 0px;
    left: 0px;
    overflow: auto;
}

#terminal::-webkit-scrollbar {
    width: 15px;
}

#terminal::-webkit-scrollbar-corner {
    background-color: #000;
}

#terminal::-webkit-scrollbar-thumb {
    background-color: #ccc;
    border-radius: 10px;
    border: 4px solid rgba(0, 0, 0, 0);
    background-clip: content-box;
    min-width: 15px;
    min-height: 15px;
}

#terminal::-webkit-scrollbar-track {
    background-color: #000;
}

#terminals {
    top: 100%;
    height: 250px;
    transform: translateY(-100%);
    overflow: auto;
    position: relative;
    overflow: hidden;
}

#terminal-container {
    position: relative;
    width: 100%;
    height: calc(100% - 30px);
    top: 30px;
    overflow: hidden;
}

#terminal-container-main {
    width: 100%;
    height: 100%;
    position: relative;
    top: 0px;
    left: 0px;
    overflow: hidden;
}

#container-top {
    display: flex;
    height: 100%;
    min-height: 100%;
    width: 100%;
}

#editor-container {
    display: flex;
    flex-direction: column;
    flex: 1;
}

#editor {
    position: relative;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    overflow: hidden;
}

#main-editor div {
    font-family: "Courier New", Courier, monospace;
}

#command-bar {
    position: absolute;
    width: 50%;
    left: 50%;
    top: 5%;
    transform: translateX(-50%);
    height: fit-content;
    padding: 7px;
}

#command-bar-main {
    width: 100%;
    height: 30px;
}
